.footer {
  text-align: center;
  margin: 2em;
  .attribution {
    font-size: 1rem;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

@media screen and (max-width: 600px) {
  .attribution {
    width: 90%;
    padding: 1em;
    margin: 1em auto;
  }
}
